
/* Partie header */
header{
    width: 100%;
    padding-top: 10px;
}
 
nav {
   width: 100%;
   position: static;
}
 
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 40px;
 }

 ul li, a{
    text-decoration: none;
    list-style: none;
    color: #090909;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
 }

 /* Partie introduction */

 .intro-expe h1 {
    text-align: center;
 }