
/* Partie header */
header{
    width: 100%;
    padding-top: 10px;
}
 
nav {
   width: 100%;

}
 
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 40px;
 }

 ul li, a{
    text-decoration: none;
    list-style: none;
    color: #090909;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
 }

 /* Partie introduction */

 .intro-expe{
   background: url(../einstein/depuis-quand-mesure-t_on-le-temps.jpg);
   background-size: cover;
   height: 400px;
   outline: thick double #e9a8ff;
   margin: 0;
   padding: 0;
 }
 

 .intro-expe h1 {
   text-align: center;
   font-size: 70px;
   font-weight: 300;
   color: #e9a8ff;
   margin: 0;
   padding-top: 40px;
 }


 /* Partie MAIN */
main {
   font-family: Arial, Helvetica, sans-serif;
}

 h2 {
   text-align: center;
   font-size: 60px;
   padding-left: 90px;
   padding-right: 90px;
   font-weight: 300;
   color: #aab8fc;
   
}

/* Partie gallerie  */
.galerie-img{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   margin: 90px 0;
   padding-bottom: 400px;
  
}

.galerie-img figcaption { 
   text-align: center;
   border: solid 1px #aab8fc;
   color: #7394f5;
   padding: 5px 0;
   font-size: 20px;

}

.galerie-img figure {
   margin: 40px 10px;
   width: 348px;
   height: 221px;
   position: relative;
}

.galerie-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 1;
   
   
}


.galerie-img .textHover{
   display: flex ;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;

}

.textHover p{
   color: white;
   text-align: justify;
   padding: 0 15px;
}

.textHover h5 {
   text-align: center;
   font-size: 30px;
   font-weight: 200;
   color: #627af3;
   background-color: white;
   padding: 2px 0;
   text-align: center;
   padding: 0;

}
.galerie-img figure:hover .textHover{
   cursor: pointer;
   border: ridge 15px #aab8fc;
   background-color: #4b5196;
   overflow-y: scroll;
   opacity: 1;
   width: 400px;
   height: 100;
   object-fit: cover;

   transform: scale(1.1);
   transition: 0.2s ease;
   
}




/* Partie footer  */
footer{
   background-color: #0e1c44;
   height: 100px;
}

.social-media{
   display: flex;
   padding-top: 30px;
   margin: 0 200px;
   justify-content: space-between;
   
}

footer img {
   border: solid 1px white;
   border-radius: 50px ;
}