/* Partie header */
header{
    width: 100%;
    padding-top: 10px;
}
 
nav {
   width: 100%;

}
 
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 40px;
 }

 ul li, a{
    text-decoration: none;
    list-style: none;
    color: #090909;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
 }

 /* Partie main */

 /* Petit header */

 main{
    background-color: #5559a2;
    width: 100%;
    height: 100vh;
 }

.container { 
    margin: auto;
    width: 50%;
    height: 350px;
    
  
}
/* Les puces */

.puce_container {
    background-color: #092674;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.puce_couleur {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}

.puce_couleur .rouge, .vert, .jaune {
    margin: 5px;
    border-radius: 50px;
}


.puce_couleur .jaune {
    width: 10px;
    height: 10px;
    background-color: yellow;
}

.puce_couleur .vert {
    width: 10px;
    height: 10px;
    background-color: green; 
}

.puce_couleur .rouge {
    width: 10px;
    height: 10px;
    background-color: red;
} 


.puce_grise {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.puce_grise .p1, .p2, .p3 {
    background-color: gray;
    width: 5px;
    height: 5px;
    margin: 1px;
    border-radius: 50px;
}

 .container {
    background-color: #0e1c44;
 }




/* Partie footer */
footer{
    background-color: #0e1c44;
    height: 100px;
 }
 
 .social-media{
    display: flex;
    padding-top: 30px;
    margin: 0 200px;
    justify-content: space-between;
    
 }
 
 footer img {
    border: solid 1px white;
    border-radius: 50px ;
 }