/* Partie header */
header{
    width: 100%;
    padding-top: 10px;
}
 
nav {
   width: 100%;

}
 
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 40px;
 }

 ul li, a{
    text-decoration: none;
    list-style: none;
    color: #090909;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
 }

 /* Partie main */

 /* Petit header */

 main{
    background-color: #5559a2;
    width: 100%;
    padding: 200px 0;
 }

.container{
    display: flex;
    justify-content: center;
    background-color: #0e1c44;
    padding: 80px;

    
}

.container h1{
    margin: 0;
    color: white;
}
/* Masquer le label avec le nom attribué */
form label {
    visibility: hidden;
    height: 0;
    width: 0;
    border: 0;
}
/* Mettre en colonne la partie droite du formulaire */
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-left: 200px;      
}

.container h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1em;
    

}


.container input,textarea {
    background-color: transparent;
    border: none;
    font-size: 20px;
    border-bottom: solid 1px #606164;
   
   
}

.container input::placeholder, textarea::placeholder {
    color: #606164;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

form textarea {
    display: flex;
    align-content: flex-end;
}


/* Partie footer */
footer{
    background-color: #0e1c44;
    height: 100px;
 }
 
 .social-media{
    display: flex;
    padding-top: 30px;
    margin: 0 200px;
    justify-content: space-between;
    
 }
 
 footer img {
    border: solid 1px white;
    border-radius: 50px ;
 }