body{
    margin: 0;
}
/* Partie header */
header{
    width: 100%;
    padding-top: 10px;
}
 
nav {
   width: 100%;
}
 
 nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 40px;
 }

 ul li, a{
    text-decoration: none;
    list-style: none;
    color: #090909;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter
 }

/* Partie introduction */

main{
   font-family:Arial, Helvetica, sans-serif
}

.introduction{
   background-color: #0e1c44;
   width: 100%;
   height: 400px;
   padding-top:70px;
   display: flex;
   justify-content: space-between;
}

.intro-text{
   display: flex;
   flex-direction: column;
   font-size: 25px;
   padding-left: 200px;
}

.intro-text h1{
   font-size: 50px;
   color: #4f4ce6;
   margin: 0;

}

.intro-text p{
   line-height: 1.5;
   color: #d9d9d9;
   margin-top: 10px;
}
.intro-text span{
   line-height: 1.5;
   color: #4f4ce6;
}
.intro-img{
   display: flex;
   align-items: flex-start;
   padding-top:40px;
   padding-right: 200px;
}

/* Partie Biographie */

/* Partie photo */

.biographie {
   margin: 90px;
   display: flex;
   padding-left: 90px;
   padding-right: 90px;
   
}
.grid-container {
   display: grid;
   grid-template-columns: 200px
}

.img3{
   grid-column: span 2;

}

.img4{
   grid-column: span 2;

}

/* Partie texte */

.bio-part{
   margin-left: 20px
}

.bio-part h5{
   text-align: center;
}

.bio-part h5{
   text-align: center;
}